@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.animation-cloud1 {
  animation-name: cloud1;
  animation-duration: 10000ms;
  position: relative;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform: translate(1vw, 0);
  animation-direction: normal;
}

@keyframes cloud1 {
  0% {
    transform: translate(1vw, 0);
  }
  25% {
    transform: translate(25vw, 0);
  }
  50% {
    transform: translate(50vw, 0);
  }
  75% {
    transform: translate(70vw, 0);
  }
  100% {
    transform: translate(100vw, 0);
  }
}
